/* Палітра */
:root {
  --background-white: #ffffff;
  --background-light-gray: #f5f4fa;
  --background-dark-gray: #2f303a;
  --text-black: #000000;
  --text-gray: #757575;
  --text-dark-gray: #212121;
  --accent: #2196f3;
}

/* шрифти */
/* 
font-family: 'Raleway';
font-style: normal;
font-weight: 700; logo

font-family: 'Roboto';
font-style: normal;
font-weight: 400; p address
font-weight: 500; link h3
font-weight: 700; button h2 h3
font-weight: 900; h1 */

/* Оформлення */
/* Спільні атрибути */
body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-gray);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
/* Окремі атрибути */
.logo {
  color: var(--accent);
}
.logo-black {
  color: var(--text-black);
}
